<div class="jumbotron" ng-controller='mainCtrl as main'>
    <div>
        <div class="btn btn-default">
            <a href="@Url.Action("GoogleRedirect")"> OAuth2 </a>
        </div>

        <div class="btn-group" ng-if='main.inited'>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{main.selectedFolder.Name}}<span class="caret"></span></button>

            <ul class="dropdown-menu">
                <li ng-click="main.selectFolder()"><a href="#">Root</a></li>
                <li ng-repeat="folder in main.folders" ng-click="main.selectFolder(folder)"><a href="#">{{folder.Name}}</a></li>
            </ul>
        </div>
    </div>

    <div>User: @ViewBag.User</div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Files</a></li>
        <li role="presentation"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
        <li role="presentation"><a href="#new_folder" aria-controls="new_folder" role="tab" data-toggle="tab">New Folder</a></li>
        <li role="presentation"><a href="#gallery" aria-controls="new_folder" role="tab" data-toggle="tab">Gallery</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="fade tab-pane in active" id="files" ng-if='main.inited'>
            @Html.Partial("FileList")
        </div>
        <div role="tabpanel" class="fade tab-pane" id="upload">
            @Html.Partial("UploadFile")
        </div>

        <div role="tabpanel" class="fade tab-pane" id="new_folder">
            @Html.Partial("NewFolder")
        </div>

        <div role="tabpanel" class="fade tab-pane" id="gallery">
            @Html.Partial("Gallery")
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/js");
}
